.card__disease {
    background: $primary-color;
    box-shadow: 0px 2px 6px rgba($black, 0.102874);
    border-radius: 3px;
    margin-top: 20px;
    padding-top: 0px;


    .leftbar {
        background-color: $alabaster;
        width: 299px;
        border-radius: 3px 0px 3px 3px;
        background: $alabaster;
    }


    .leftbar__heading {
        padding: 16px 20px;
        border: 1px solid rgba($color: #000000, $alpha: 0.1);

        .value {
            width: 175.97px;

            h3 {
                font-style: normal;
                font-weight: normal;
                font-size: 17px;
                line-height: 20px;


                color: $text-color--black;
            }
        }

        .addicon {
            width: 24px;
            height: 24px;
            margin-left: 56px;
            font-size: 21px;

        }

    }

    .title {
        padding-top: 14px;
        padding-bottom: 14px;
        padding-left: 24px;
        align-self: center;
        background-color: $primary-color;


        font-style: normal;
        font-weight: normal;

        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.4px;


    }

    .title1 {
        color: $french-rose;
        font-weight: bold;

    }




    .options {
        padding-bottom: 334px;
        padding-left: 20px;
        background-color: $primary-color;

        .btn-rounded {
            background: transparent;
            margin-bottom: 16px;
        }

        .btn-rounded--bg-blue {
            background: $blue-ribbion;
            width: 140px;
        }
    }

    .leaftbar__heading--footer {
        display: flex;
        align-items: center;
        font-size: 12px;
        line-height: 16px;
    }

    .drop-down-icon {
        margin-left: 56px;
    }



    .rightbar {
        width: 558px;
        padding-top: 24px;
        padding-left: 32px;
        padding-right: 18px;
        background: $primary-color;
        box-shadow: -1px 0px 0px $mercury;
        border-radius: 0px 3px 3px 0px;
        margin-left: 0;

        .heading {
            justify-content: space-between;

            h2 {
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 19px;

                color: $plantation;

            }

            .icons {
                margin-left: 360px;

                .filter {
                    width: 24px;
                    height: 24px;
                    align-self: center;
                }

                .add {
                    align-self: center;
                    width: 24px;
                    height: 24px;
                    margin-left: 20px;
                }
            }
        }



        .rightbar__card {
            padding-bottom: 18px;
            border: 1px solid $alto;
            border-radius: 3px;
            margin-top: 16px;

            .topleft {
                padding-left: 8px;
                padding-right: 8px;
                // width: 87px;
                width: fit-content;
                background: $french-rose;

                font-style: normal;
                font-weight: 500;
                font-size: 10px;
                line-height: 16px;
                letter-spacing: 1.5px;
                text-transform: uppercase;

                color: $primary-color;


            }
        }

        .checkbox__content {
            margin-left: 12px;
            margin-top: 6px;
            padding: 0;

            .input {
                width: 20px;
                height: 20px;
            }

            p {
                width: 420px;

                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 20px;

                letter-spacing: 0.25px;

                color: $text-color--black;
            }

            .image {
                width: 14px;
                height: 14px;
                background: url(../../images/main-body/ic_launch_24pxA.png);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }

            .label {
                margin-left: 30px;
                margin-top: 4px;
                // width: 100px;
                margin-right: 10px;
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 14px;


                color: $gull-gray;
            }

            .btn-rounded {
                margin-top: 4px;
                background: $oslo-gray;
                padding-top: 0;
                padding-bottom: 0;

            }
        }

        .review {
            text-transform: uppercase;
            font-style: normal;
            font-weight: 500;
            font-size: 11px;
            line-height: 16px;
            letter-spacing: 1px;
            color: $primary-color;
        }

        .line {
            margin-left: 38px;
            margin-top: 16px;
        }

        .second {
            margin-left: 6px;

            span {
                visibility: hidden;
            }
        }

        .btn-text {
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.4px;

            color: $text-color--black;
        }

        .addtag {
            float: right;
            width: 70px;
            margin-top: 20px;
            margin-right: 184px;

            .image {
                float: left;
                height: 20px;
                width: 20px;

                img {
                    object-fit: cover;
                }
            }


            .tag-text {
                float: right;
                width: 44px;
                margin-left: 6px;
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 14px;


                text-transform: capitalize;

                color: $text-color--black;
            }


        }

        .rightbar__footer {
            padding-top: 16px;

            h3 {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 16px;
                letter-spacing: 0.4px;

                color: rgba($text-color--black, 0.4);
            }

            .btn-rounded {
                margin: 0;
                margin-top: 6px;
            }

            .btn--pink {
                display: block;
                margin-top: 20px;
                margin-bottom: 30px;
                margin-left: 0;
                border: none;

                background: $french-rose;

            }
        }



    }
}

.bg-color--french-rose {
    margin-top: 20px;
    background: $french-rose;
    width: 116px;
}