.card__function {
    margin-top: 20px;
    padding-top: 10px;
    padding-left: 12px;
    // margin-right: 20px;


    h2 {
        margin-bottom: 10px;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 20px;


        color: $text-color--black;

    }

    .card__function-content {
        margin-right: 6px;
        height: 148px;
        overflow: scroll;
    }

    p {
        margin-right: 20px;
        text-align: justify;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;


        color: $rolling-ston;
    }
}