.dropdown-options {
    width: 100%;
    display: none;
    background: inherit;
    margin-bottom: 12px;



    li {
        display: block;
        margin-bottom: 5px;
        list-style: square;

        a {
            color: rgba($white, 0.87)
        }
    }
}

.burger-menu__items {
    margin-left: 232px;

    ul {
        li {
            flex-direction: column;
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 15px;
            margin-right: 30px;

            a {
                text-align: center;
            }
        }
    }

    .burger-menu__items--active {
        a {
            color: $primary-color;

        }
    }

}